{% extends 'base.html' %}
{% block title %}
<title>Edit Task - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
  </br>
  <form method="POST" class="row">
    {% csrf_token %}
    <label class="col-2"></label>
    <div class="col-6">
      <input type="text" class="form-control" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
    </div>
    <button type="submit" class="btn btn-primary col-2">Update Task</button>
  </form>
</div>
{% endblock content %}
